<h1>Editing message</h1>

<%= render :partial => "form" %>
<center>
<%= link_to 'Back', messages_path %> |
<%= link_to 'Show', @message %> |
<%= link_to 'Destroy', @message, :confirm => 'Are you sure?', :method => :delete, :remote=>true %>
</center>
